#wrapper { 
width: 960px;
margin: 0 auto; 
font-family: Helvetica; 
}

* { 
box-sizing: border-box; 
}


header {
	background-image: url(../image/caffeh.jpg);
	height: 300px;
	background-position: left;
	background-size: cover;
}
h1 {
	font-family: Helvetica;
	color: white;
	font-size: 60px;
	text-align: right;
	padding: 100px;
}
nav { 
text-align: center;
background-color: #4F2E1F;
color: white;
font-family: Helvetica;

 }

 nav ul li {
 	display: inline;
 	
 }


a:link, a:visited{
	

}
 a:hover, a:active {
 	background-color: white;
 	color:#106D34;
 	}
a { 
text-decoration: none;
color: white; 
padding: 20px 30px;
}

article { 
width: 49%;
float: left;
padding: 15px;
color: #4F2E1F
 }

h2 {
	font-size: 21px;
	color: #106D34;
	margin: 15px 0px 5px 0px;

}

footer p  { 
color: white;
font-family: Helvetica;
padding: 5px;
}

footer {
clear: both; 
	background-color: #4F2E1F; 
	 }